.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app__body {
  display: flex;
  width: 90vw;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  background-color: #ededed;
}

body {
  background-color: #dadbd3;
}
